* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin-top: 50px;
  background-image: linear-gradient(rgb(131, 146, 223), rgb(30, 34, 45));
}
.container {
  background-color: white;
  padding: 30px;
  border: 1px solid rgb(27, 86, 187);
  max-width: 600px;
  margin: auto;
  border-radius: 50px;
  box-shadow: 10px 10px 10px;
}
.toDoTitle {
  font-family: Protest Riot;
  font-size: 35px;
  color: blue;
}
#form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#form__input {
  flex: 1;
  outline: none;
  width: 80%;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(234, 231, 231);
  border: none;
}
#form__input::placeholder {
  font-size: 20px;
  font-family: Protest Riot;
}
.form__AddBtn {
  border: none;
  padding: 13px;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 17px;
  font-family: Protest Riot;
  cursor: pointer;
  letter-spacing: 2px;
  background-color: blue;
  font-weight: lighter;
  color:white;
}
.list__item {
  list-style: none;
  font-size: 20px;
  padding: 15px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Protest Riot;
  position: relative;
}
.deleteToDo {
  position: absolute;
  right: 0px;
  top: 4px;
  padding: 5px;
  cursor: pointer;
  text-align: center;
}
.list__item::before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 50%;
  background-image: url("./images/unchecked.png");
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}
.checked {
  text-decoration: line-through;
  color: rgb(94, 92, 92);
}
.checked::before {
  background-image: url("./images/checked.png");
}
.search{
  display: flex;
  justify-content: center;
}
#searchInput{
  /* flex: 1; */
  outline: none;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  background-color: rgb(234, 231, 231);
  border: none;
}
#searchInput::placeholder{
  font-size: 15px;
  font-family: Protest Riot;
}
.searchBtn{
  border: none;
  padding:7px;
  align-self: flex-end;
  border-radius: 20px;
  font-weight: bolder;
  font-size: 17px;
  font-family: Protest Riot;
  cursor: pointer;
  color: white;
  letter-spacing: 2px;
  background-color: blue;
  font-weight: lighter;
}
